div.wpcf7{
  margin-top: 60px;

  .wpcf7-form-control{
    margin-top: 10px;
    max-width: 520px;
    width: 100%;
    border: 2px solid $footer;
    padding: 15px;
    font-weight: normal;
  }

  .wpcf7-submit{
    font-weight: 900;
  }

  .wpcf7-not-valid-tip{
    @include font-size(16);

    font-style: italic;
    font-weight: normal;
  }
}

div.wpcf7-response-output{
  margin: 30px 0;
  padding: 15px;
  border-color: #f00;
  font-weight: bold;
}

input[type="submit"]{
  background: transparent;
}
