//Skip links

.skip-link {
 position: absolute;
 left: -999em;
 width: 990em;
}

a.skip-link:active,  a.skip-link:focus {
  left: 0;
  top: 0;
  padding: 15px;
  width: auto;
  z-index: 1;
  text-decoration: none;
}

//Square links

.square-link{
  @include transition(all 0.2s ease);

  display: inline-block;
  text-transform: uppercase;
  padding: 15px 60px;
  font-weight: 900;
  text-align: center;

  &:hover, &:focus{
    text-decoration: none;
  }

  &--white{
      border: 2px solid $white;
      color: $white;

      &:hover, &:focus{
        color: $footer;
        background: $white;
      }
  }

  &--black{
      border: 2px solid $footer;
      color: $footer;

      &:hover, &:focus{
        color: $white;
        background: $footer;
      }
  }

  &--margin-top{
    margin-top: 20px;

  }
}
