$nine-eight-five: 985px;
$five-fifty: 550px;
$four-thirty: 430px;
$four-twenty: 420px;
$three-five-five: 355px;
$seven-six-seven: 767px;

$ten-fourty-nine: 1049px;
$seven-seven-five: 775px;
$five-two-five: 525px;
$four-fifteen: 415px;
